{% extends 'base.html' %}
{% load static %}
{% block title %}
Chat Room Home
{% endblock title %}
{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/chat.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,500,0,0" />
{% endblock head %}
{% block content %}
  <div class="chat--box">
    <div class="chat">
      {% comment %} <p>입장할 채팅방 이름을 입력하세요!</p>
      <div>
        <input id="room-name-input" type="text"  class="room_name--input">
        <input id="room-name-submit" type="button" value="Enter">
      </div> {% endcomment %}
      <form method="POST" action="">
        {% csrf_token %}
        <p>
          <span class="material-symbols-outlined">sms</span>
          <span>입장할 채팅방 이름을 입력하세요!</span>
        </p>
        <div>
          <input id="room-name-input" type="text"  class="room_name--input" name="room_name" placeholder="영문으로 입력해주세요">
          <input id="room-name-submit" type="submit" value="Enter">
        </div>
      </form>
    </div>
  </div>
{% endblock content %}

{% block script %}
  <script>
    
    document.querySelector('#room-name-input').focus();
    document.querySelector('#room-name-input').onkeyup = function(e) {
      if (e.keyCode === 13) {  // enter, return
        document.querySelector('#room-name-submit').click();
      }
    };

    document.querySelector('#room-name-submit').onclick = function(e) {
      var roomName = document.querySelector('#room-name-input').value;
      window.location.pathname = '/chat/' + roomName + '/';
    };
  </script>
{% endblock script %}