@font-face {
  font-family: 'LeeSeoyun';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ONE-Mobile-Title';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* detail */
.detail--box {
  margin: 10px 50px;
  display: grid;
  grid-template-rows: auto auto;
}

.detail--header {
  display: block;
}

.detail--image--box {
  width: 100%;
  height: 250px;
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  position: relative;
}

.detail--image {
  width: 350px;
  height: 300px;
}

.detail--map {
  position: relative;
  height: 330px;
  width: 300px;
}

.detail--map::after {
  content: "";
  z-index: 9;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 60%;
  height: 300px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
}

.detail--address {
  position: absolute;
  right: 3px;
  bottom: 5px;
  font-size: 12px;
  color: #fff;
  width: 150px;
  font-style: oblique;
  z-index: 10;
  word-break: keep-all;
}

.map {
  position: absolute;
  bottom: 0;
  left: 0;
  width:300px; 
  height:300px;
  z-index: 1;
}

.detail--map:hover::after {
  display: none;
}
  
.detail--map:hover .detail--address {
  display: none;
}

.map--title {
  font-size: 20px;
  color: #682c0ec2;
  margin-bottom: 0;
}

.detail--info {
  display: grid;
  grid-template-columns: 300px auto 300px;
  gap: 20px;
  margin-top: 10px;
}

.detail--info--title {
  font-size: 35px;
  color: rgb(30, 30, 30);
}

.detail--info--title a {
  color: #F9E0AE;
  font-size: 20px;
}

.detail--rating {
  margin-top: 5px;
  font-size: 25px;
  color: #FC8621;
  text-align: end;
  font-family: 'ONE-Mobile-Title';
}

.detail--info--body {
  font-size: 20px;
  margin-bottom: 2px;
  color: rgb(170, 170, 170);
  font-family: 'LeeSeoyun';
  display: flex;
  align-items: start;
}

.detail--info--body p{
  font-size: 20px;
  margin-bottom: 2px;
  color: rgb(170, 170, 170);
  font-family: 'LeeSeoyun';
  display: inline-block;
}

.detail--info--body--title {
  font-size: 20px;
  margin-bottom: 2px;
  color: rgb(170, 170, 170);
  width: 80px;
  display: inline-block;
  font-family: 'LeeSeoyun';
}

.detail--user {
  margin-top: 20px;
  border-left: 1px rgba(236, 236, 236, 0.732) solid;
  padding-left: 20px;
}

.detail--info--user {
  font-size: 15px;
  margin-bottom: 2px;
  color: rgb(170, 170, 170);
  font-family: 'LeeSeoyun';
}

.detail--info--user a{
  font-size: 15px;
  margin-bottom: 2px;
  color: rgb(170, 170, 170);
  font-family: 'LeeSeoyun';
  text-decoration: none;
}

.detail--info--user--title {
  font-size: 15px;
  margin-bottom: 2px;
  color: rgb(170, 170, 170);
  width: 80px;
  display: inline-block;
  font-family: 'LeeSeoyun';
}

.detail--btn {
  font-size: 20px;
  color: gray;
  text-align: center;
  text-decoration: none;
  margin-right: 10px;
}

.detail--btn p {
  font-size: 10px;
  margin-bottom: 0;
}

.post--btn {
  color: #682c0ec2;
  font-size: 13px;
  width: 30px;
  border-radius: 10px;
  margin: 5px 0;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

.post--btn:hover {
  color: #8d3d14c2;
}

.detail--hash{
  width: 100%;
  color: rgb(170, 170, 170);
  font-family: 'LeeSeoyun';
  font-size: 30px;
  margin-bottom: 10px;
}

.hashtag {
  font-family: 'LeeSeoyun';
  border-radius: 20px;
  background-color: #c24814b0;
  color: white;
  padding: 8px;
  font-size: 15px;
  word-break: keep-all;
  display: inline-block;
  margin-bottom: 2px;
}

.review--content-box {
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: 1fr;
}

.review--box {
  border-top: 1px solid gainsboro;
}

.review--detail {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 300px auto 300px;
  border-bottom: 1px solid rgba(243, 243, 243, 0.7);
}

.detail--info--box {
  position: relative;
}

.review--btn {
  position: absolute;
  bottom: 10px;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.review--user {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid rgba(243, 243, 243, 0.7);
  gap: 5px;
}

.review--user p {
  color: rgb(131, 131, 131);
  font-size: 18px;
  font-family: 'LeeSeoyun';
  margin-bottom: 0;
}

.review--content {
  border-right: 1px solid rgba(243, 243, 243, 0.7);
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
}

.review--content p{
  color: rgb(84, 84, 84);
}

.review--img {
  width: 100px;
  height: 100px;
}

.review--imoge1{
  background-image: url("/static/image/mango_icon.png");
  background-position: -714px -866px;
  width: 44px;
  height: 44px;
  background-color: #fff0;
  border: none;
}
.review--imoge2{
  background-image: url("/static/image/mango_icon.png");
  background-position: -564px -866px;
  width: 44px;
  height: 44px;
  background-color: #fff0;
  border: none;
}
.review--imoge3{
  background-image: url("/static/image/mango_icon.png");
  background-position: -514px -866px;;
  width: 44px;
  height: 44px;
  background-color: #fff0;
  border: none;
}

.rating--gray{
  background-image: url("/static/image/mango_icon2.png");
  background-position: -322px -152px;
  width: 28px;
  height: 28px;
}

.rating--orange{
  background-image: url("/static/image/mango_icon2.png");
  background-position: -280px -539px;
  width: 28px;
  height: 28px;
}

.rating-btn {
  border: none;
  background-color: #fff;
  width: 30px;
  height: 30px;
  color: #682c0ec2;
  margin: 5px;
  position: relative;
  padding: 0;
}

.rating-btn img:hover {
  z-index: 1;
}

.rating-btn:hover::after {
  content: "";
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  -webkit-mask-image: url('/static/image/allstar.png');
  mask-image: url('/static/image/allstar.png');
}
  
  

.emotion-btn {
  border: none;
  background-color: #fff0;
  font-size: 18px;
  color:#682c0ec2;
}

.emotion-btn:hover {
  color: #c24814b0;
}

.review--filter {
  font-size: 23px;
  color:#682c0ec2;
  text-decoration: none;
}

.review--filter:hover {
  color: #c24814b0;
}

.star-back {
  background-repeat: no-repeat;
  background-image: url("//img1a.coupangcdn.com/image/coupang/search/search_product_assets_170324.png");
  overflow: hidden;
  float: left;
  width: 70px;
  height: 17px;
  margin-right: 3px;
  background-position: 0 -149px;
}

.star-star {
  background-repeat: no-repeat;
  background-image: url("//img1a.coupangcdn.com/image/coupang/search/search_product_assets_170324.png");
  overflow: hidden;
  float: left;
  height: 17px;
  background-position: 0 -199px;
}

.star {
  height: 30px;
  width: 30px;
}

.review--img--box {
  display: flex;
  gap: 5px;
  align-items : center; 
  overflow: hidden;
}

.show_more_box {
  display: flex;
  justify-content: center;
}

.show_more_btn {
  border: none;
  background-color: white;
  color: #682c0ec2;
  font-size: 20px;
}