@font-face {
  font-family: 'LOTTERIACHAB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIACHAB.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TmoneyRoundWindExtraBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HSSaemaul-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/HSSaemaul-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LeeSeoyun';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Base */

* {
  font-family: 'TmoneyRoundWindExtraBold';
}

.form-control {
  border: 1px solid #682C0E;
}

body {
  position: relative;
  min-height: 100vh;
}

nav {
  position: sticky;
  top: 0;
  height: 90px;
  background-color: #F9E0AE;
  display: grid;
  align-items: center;
  z-index: 999;
}

@media screen and (max-width: 992px) {
  nav {
    grid-template-rows: repeat(2, 90px);
    height: 180px;
    text-align: center;
  }
}

@media screen and (min-width: 992px) {
  nav {
    grid-template-columns: repeat(10,1fr);
  }
}

footer {
  position: absolute;
  height: 90px;
  bottom: 0;
  background-color: #F9E0AE;
  width: 100%;
  font-size: 16px;
  color: #682c0ec2;
}

section {
  min-height: 86vh;
  padding-bottom: 90px;
}

/* Nav */

.nav--logo {
  padding-left: 20px;
}

@media screen and (max-width: 992px) {
  .nav--logo {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
  }
}

@media screen and (min-width: 992px) {
  .nav--logo {
    grid-column: 1 / 5;
    margin-left: 50px;
  }
}

.nav--logo a{
  text-decoration: none;
  color: #682C0E;
  font-size: 30px;
  font-family: 'LOTTERIACHAB';
}

.nav--search {
  margin-left: auto;
  width: 250px;
}

@media screen and (max-width: 992px) {
  .nav--search {
    grid-row: 2 / 3;
  }
}

@media screen and (min-width: 992px) {
  .nav--search {
    grid-column: 8 / 10;
  }
}

.search {
  position: relative;
  width: 250px;
  height: 30px;
  border: 1px solid #C24914;
  border-radius: 50px;
  background-color: white;
}

.search input {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 100%;
  border: none;
  border-radius: 50px;
  margin: 0;
  padding: 0;
}
.search input:focus {
  outline: none;
}
.search input::-webkit-search-cancel-button {
  display: none;
}

.search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  height: 30px;
  border: 0;
  background-color: #ffffff00;
}

.nav--accounts {
  margin-left: 30px;
  height: 100%;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 992px) {
  .nav--accounts {
    grid-row: 2 / 3;
  }
}

@media screen and (min-width: 992px) {
  .nav--accounts {
    grid-column: 10 / 11;
  }
}

.dropdown {
  background-color: rgba(244, 165, 96, 0);
}

.profile--image {
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  overflow: hidden;
  padding: 0;
  border: none;
  background-color: rgba(244, 165, 96, 0);
}

.profile {
  width: 50px;
  height: 50px;
}

/* footer */

footer a {
  font-family: 'HSSaemaul-Regular';
  color: #c24814cb;
  text-decoration: none;
  line-height: 40px;
  margin: 0 5px;
}

.footer--txt {
  padding-top: 10px;
  width: 70%;
  margin: auto;
  text-align: center;
}

.footer--txt p {
  font-family: 'HSSaemaul-Regular';
  margin-bottom: 0;
}

/* Main */

.main--content {
  height: 500px;
  margin: 0 50px;
  display: grid;
}

@media screen and (max-width: 992px) {
  .main--content {
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
  }
}

@media screen and (min-width: 992px) {
  .main--content {
    grid-template-columns: 50% 50%;
  }
}

.content--box {
  padding: 10px 10px;
}

.content--test {
  background-color: #FC8621;
  border: 1px solid #682C0E;
  height: 100%;
}

/* Index */

.index--page {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  height: 600px;
  padding: 10px;
  margin: 0 50px;
}

.sidebar {
  grid-column: 1 / 5;
  border-right: 1px solid rgb(210, 210, 210);
  height: 100%;
  padding: 10px;
}
.sidebar li {
  list-style: none;
}

.posts {
  grid-column: 5 / 21;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 300px;
  gap: 10px;
}

.index--card {
  width: 100%;
  height: 300px;
  padding: 10px;
  text-decoration: none;
  color: rgb(209, 209, 209);
}

.index--card:hover {
  box-shadow: 5px 5px 10px 1px rgba(232, 232, 232, 0.719);
}

.index--card--box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.index--image--box{
  width: 100%;
  height: 200px;
  text-align: center;
  line-height: 180px;
  overflow: hidden;
  margin-bottom: 5px;
}

.index--img {
  width: 100%;
  height: 100%;
}

.index--title {
  font-size: 22px;
  font-weight: 600;
  color: #C24914;
  margin-bottom: 5px;
}
.index--txt {
  font-size: 14px;
  font-family: 'LeeSeoyun';
}
.index--heart {
  width: 20px;
  height: 20px;
  display: inline;
}

/* accounts */

.accounts--box {
  margin: 15px 50px;
  height: 550px;
}

.accounts--join {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.accounts--join h1 {
  color: #682c0ec2;
}

.accounts--join a {
  text-decoration: none;
  display: block;
  text-align: center;
}

.accounts--btn {
  border: none;
  background-color: #682c0ec2;
  color: white;
  font-size: 20px;
  width: 400px;
  border-radius: 10px;
  margin: 5px 0;
  display: block;
}

.accounts--btn:hover {
  background-color: #8d3d14c2;
}

/* profile */

.profile--followbtn {
  border: none;
  background-color: #682c0ec2;
  color: white;
  font-size: 15px;
  border-radius: 10px;
}

.profile--box {
  margin: 20px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile--box h1 {
  text-align: center;
  color: #682c0ec2;
}

.profile--image--box {
  width: 220px;
  height: 220px;
  text-align: center;
  line-height: 220px;
  overflow: hidden;
}

.profile--img {
  width: 220px;
  height: 220px;
}

.profile--card {
  display: flex;
}

.profile--card--txt {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile--modal--box {
  border: 2px solid #682c0ec2;
}

.modal--profile--card {
  width: 20%;
}

.modal--profile--link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* detail */
.detail--box {
  margin: 10px 50px;
}

.detail--header {
  display: block;
}

.detail--image--box {
  width: 100%;
  height: 250px;
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  position: relative;
}

.detail--image {
  width: 350px;
  height: 250px;
}

.detail--map {
  position: relative;
  height: 330px;
  width: 300px;
}

.detail--map::after {
  content: "";
  z-index: 9;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 300px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
}

.detail--address {
  position: absolute;
  right: 0;
  bottom: 5px;
  font-size: 12px;
  color: #fff;
  width: 35%;
  font-style: oblique;
  z-index: 10;
  word-break: keep-all;
}

.map {
  position: absolute;
  bottom: 0;
  left: 0;
  width:300px; 
  height:300px;
  z-index: 1;
}

.detail--map:hover::after {
  display: none;
}
  
.detail--map:hover .detail--address {
  display: none;
}

.map--title {
  font-size: 20px;
  color: #682c0ec2;
  margin-bottom: 0;
}

.detail--info {
  display: grid;
  grid-template-columns: 300px auto 300px;
  gap: 20px;
  margin-top: 10px;
}

.detail--info--title {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 5px;
  color: rgb(30, 30, 30);
}

.detail--info--title a {
  color: #F9E0AE;
  font-size: 20px;
}

.detail--info--body {
  font-size: 20px;
  margin-bottom: 2px;
  color: rgb(170, 170, 170);
  font-family: 'LeeSeoyun';
}

.detail--info--body p{
  font-size: 20px;
  margin-bottom: 2px;
  color: rgb(170, 170, 170);
  font-family: 'LeeSeoyun';
  display: inline-block;
}

.detail--info--body--title {
  font-size: 20px;
  margin-bottom: 2px;
  color: rgb(170, 170, 170);
  width: 80px;
  display: inline-block;
  font-family: 'LeeSeoyun';
}

.detail--user {
  margin-top: 20px;
  border-left: 1px rgba(236, 236, 236, 0.732) solid;
  padding-left: 20px;
}

.detail--info--user {
  font-size: 15px;
  margin-bottom: 2px;
  color: rgb(170, 170, 170);
  font-family: 'LeeSeoyun';
}

.detail--info--user a{
  font-size: 15px;
  margin-bottom: 2px;
  color: rgb(170, 170, 170);
  font-family: 'LeeSeoyun';
  text-decoration: none;
}

.detail--info--user--title {
  font-size: 15px;
  margin-bottom: 2px;
  color: rgb(170, 170, 170);
  width: 80px;
  display: inline-block;
  font-family: 'LeeSeoyun';
}

.detail--btn {
  margin-right: 10px;
  color: gray;
  text-align: center;
  text-decoration: none;
}

.detail--btn p {
  font-size: 10px;
  margin-bottom: 0;
}

.post--btn {
  color: #682c0ec2;
  font-size: 13px;
  width: 30px;
  border-radius: 10px;
  margin: 5px 0;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

.post--btn:hover {
  color: #8d3d14c2;
}

.detail--hash{
  width: 100%;
  color: rgb(170, 170, 170);
  font-family: 'LeeSeoyun';
  font-size: 30px;
}

.hashtag {
  font-family: 'LeeSeoyun';
  border-radius: 20px;
  background-color: #c24814b0;
  color: white;
  padding: 8px;
  font-size: 15px;
  word-break: keep-all;
}