
@font-face {
  font-family: 'LeeSeoyun';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.main--content {
  padding: 10px;
  margin: 0 50px;
  display: grid;
  align-content: center;
  justify-content: center;
  margin-top: 20px;
}

@media screen and (max-width: 1230px) {
  .main--content {
    grid-template-columns: 100%;
    grid-auto-rows: 1fr;
    row-gap: 20px;
  }
}

@media screen and (min-width: 1230px) {
  .main--content {
    grid-template-columns: 50% 50%;
  }
}

.list--box {
  width: 100%;
  background-color: #faeed762;
  text-align: end;
}

.list--box a {
  text-decoration: none;
  color: #682C0E;
}


.content--box {
  width: 550px;
  height: 500px;
  position: relative;
  margin: auto;
}

.top--box {
  position: absolute;
  top: 10PX;
  left: 20px;
  font-size: 30px;
  color: #682C0E;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 2px;
}

.main--carousel--box {
  display: flex;
  width: 550px;
  height: 500px;
  overflow-x: hidden;
  align-items: center;
  margin: 0 0;
}

.main--btn--right {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  background-image: url("/static/image/mango_icon.png");
  background-position: -935px -332px;
  width: 28px;
  height: 45px;
  position: absolute;
  right: 10px;
  top: 215px;
  z-index: 999;
}

.main--btn--left {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  background-image: url("/static/image/mango_icon.png");
  background-position: -935px -281px;
  width: 28px;
  height: 45px;
  position: absolute;
  left: 10px;
  top: 215px;
  z-index: 999;
}

.main--img {
  width: 550px;
  height: 500px;
}

.main--card {
  width: 550px;
  height: 500px;
  text-decoration: none;
}

.main--carousel {
  display: flex;
  transform: translate3d(0, 0, 0);
  transition: transform 0.2s;
}

.card--item {
  width: 550px;
  height: 500px;
  margin-bottom: 10px;
  position: relative;
}

.heart--box {
  position: absolute;
  right: 0;
  bottom: 20px;
}

.card--item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80%;
  z-index: 1;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
}

.main--category {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  overflow-x: hidden;
  width: 550px;
}

.main--info--box {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 500px;
  z-index: 2;
  color: white;
  font-size: 14px;
}
.main--info--box p{
  margin-bottom: 2px;
  font-family: 'LeeSeoyun';
}

.card--item:hover::after {
  display: none;
}
  
.card--item:hover .main--info--box {
  color: rgb(210, 210, 210);
}

.main--title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  white-space: nowrap;
}

.main--heart {
  width: 30px;
  height: 30px;
  font-size: 30px;
}