@font-face {
  font-family: 'LOTTERIACHAB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIACHAB.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TmoneyRoundWindExtraBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HSSaemaul-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/HSSaemaul-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


/* Base */

* {
  font-family: 'TmoneyRoundWindExtraBold';
}

body {
  position: relative;
  min-height: 100vh;
}

nav {
  position: sticky;
  top: 0;
  height: 90px;
  background-color: #F9E0AE;
  display: grid;
  align-items: center;
}

@media screen and (max-width: 992px) {
  nav {
    grid-template-rows: repeat(2, 90px);
    height: 180px;
    text-align: center;
  }
}

@media screen and (min-width: 992px) {
  nav {
    grid-template-columns: repeat(10,1fr);
  }
}

footer {
  position: absolute;
  height: 90px;
  bottom: 0;
  background-color: #F9E0AE;
  width: 100%;
  font-size: 16px;
  color: #682c0ec2;
}

section {
  min-height: 86vh;
  padding-bottom: 90px;
}

/* Nav */

.nav--logo {
  
  padding-left: 20px;
}

@media screen and (max-width: 992px) {
  .nav--logo {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
  }
}

@media screen and (min-width: 992px) {
  .nav--logo {
    grid-column: 1 / 5;
    margin-left: 50px;
  }
}

.nav--logo a{
  text-decoration: none;
  color: #682C0E;
  font-size: 30px;
  font-family: 'LOTTERIACHAB';
}

.nav--search {
  margin-left: auto;
  width: 250px;
}

@media screen and (max-width: 992px) {
  .nav--search {
    grid-row: 2 / 3;
  }
}

@media screen and (min-width: 992px) {
  .nav--search {
    grid-column: 8 / 10;
  }
}

.search {
  position: relative;
  width: 250px;
  height: 30px;
  border: 1px solid #C24914;
  border-radius: 50px;
  background-color: white;
}

.search input {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 100%;
  border: none;
  border-radius: 50px;
  margin: 0;
  padding: 0;
}
.search input:focus {
  outline: none;
}

.search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  height: 30px;
  border: 0;
  background-color: #ffffff00;
}

.nav--accounts {
  margin-left: 30px;
  height: 100%;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 992px) {
  .nav--accounts {
    grid-row: 2 / 3;
  }
}

@media screen and (min-width: 992px) {
  .nav--accounts {
    grid-column: 10 / 11;
  }
}
/* 
.nav--accounts a{
  text-decoration: none;
  color: #682C0E;
  font-size: 20px;
  font-family: 'TmoneyRoundWindExtraBold';
} */

.accounts--btns {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  gap:20px
}

.profile--image {
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  overflow: hidden;
}

.profile {
  width: 50px;
  height: 50px;
}

/* footer */

footer a {
  font-family: 'HSSaemaul-Regular';
  color: #c24814cb;
  text-decoration: none;
  line-height: 40px;
  margin: 0 5px;
}

.footer--txt {
  padding-top: 10px;
  width: 70%;
  margin: auto;
  text-align: center;
}

.footer--txt p {
  font-family: 'HSSaemaul-Regular';
  margin-bottom: 0;
}

/* Main */

.main--content {
  height: 500px;
  margin: 0 50px;
  display: grid;
}

@media screen and (max-width: 992px) {
  .main--content {
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
  }
}

@media screen and (min-width: 992px) {
  .main--content {
    grid-template-columns: 50% 50%;
  }
}

.content--box {
  padding: 10px 10px;
}

.content--test {
  background-color: #FC8621;
  border: 1px solid #682C0E;
  height: 100%;
}

/* Index */

.index--page {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  height: 600px;
  padding: 10px;
  margin: 0 50px;
}

.sidebar {
  grid-column: 1 / 5;
  border-right: 1px solid rgb(210, 210, 210);
  height: 100%;
  padding: 10px;
}
.sidebar li {
  list-style: none;
}

.posts {
  grid-column: 5 / 11;
  height: 100%;
  padding: 10px;
}