{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock title %}

{% block content %}
{% load socialaccount %}

<div class="accounts--box">
  <div class="accounts--join">
      <h1>로그인 페이지</h1>
    <div>
      <form action="{% url 'accounts:login' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p}}
        <input class="accounts--btn" type="submit" value="로그인">
        <input type="submit" value="Back" class="accounts--btn" onclick=window.history.back()>
      </form>
      <hr>
      <div class="row">
        <div class="logo--box col-4">
          <a href="{% provider_login_url 'kakao' process="login" method='oauth2'%}">
            <img class='logo--img' src="{% static 'image/kakao.png' %}" alt="">
          </a>
        </div>
        <div class="logo--box col-4">
          <a href="{% provider_login_url 'naver'%}"> 
            <img class='logo--img' src="{% static 'image/naver.png' %}" alt="">
          </a>
        </div>
        <div class="logo--box col-4">
          <a href="{% provider_login_url 'google' method='oauth2' %}"> 
            <img class='logo--img' src="{% static 'image/google.png' %}" alt="" >
          </a>
        </div>
      </div>
  
      
    </div>
  </div>
</div>
{% endblock content %}