{% extends 'base.html' %}

{% block title %}Login{% endblock title %}

{% block content %}
{% load socialaccount %}

<a href="{% provider_login_url 'kakao' method='oauth2' %}">
카카오톡 회원가입
</a>
<div class="accounts--box">
  <div class="accounts--join">
      <h1>로그인 페이지</h1>
    <div>
      <form action="{% url 'accounts:login' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p}}
        <input class="accounts--btn" type="submit" value="로그인">
        <input type="submit" value="Back" class="accounts--btn" onclick=window.history.back()>
      </form>
    </div>
  </div>
</div>
{% endblock content %}