{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock title %}

{% block content %}
{% load socialaccount %}

<div class="accounts--box">
  <div class="accounts--join">
      <h1>로그인 페이지</h1>
    <div>
      <form action="{% url 'accounts:login' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p}}
        <input class="accounts--btn" type="submit" value="로그인">
        <input type="submit" value="Back" class="accounts--btn" onclick=window.history.back()>
        
          <a href="{% provider_login_url 'kakao' method='oauth2' %}">
            <img src="{% static 'image/kakaologo.png' %}" alt="" class="kakaologo--img">
          </a>
          <a href="{% provider_login_url 'naver'%}"> NAVER Social Login</a>
        
      </form>
    </div>
  </div>
</div>
{% endblock content %}