{% extends 'base.html' %}
{% load static %}
{% block title %}Profile{% endblock title %}
{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
{% endblock head %}
{% block style %}
<style>
  section {
    position: relative;
  }
</style>
{% endblock style %}
{% block content %}
<a class="profile--backBtn" href="{% url 'main' %}"><뒤로</a>
  <div class="profile--box">
    <h1>{{ person.username }}님의 프로필 페이지
      {% if request.user.username != person.username %}
        <a href="{% url 'my_messages:reply' person.pk %}"><i class="bi bi-envelope-paper-heart chat--btn--txt"></i></a>
      {% endif %}
    </h1>
  
    <div class="profile--card">
      <div class="profile--image--box rounded-circle">
        {% if person.image %}
          <img src="{{ person.image.url }}" alt="" class="profile--img">
        {% else %}
          <img src="{% static 'image/profile-none.png' %}" alt="" class="profile--img">
        {% endif %}
      </div>
      <div class="profile--card--txt">
        <div class='d-flex align-items-center'>
          <p class="mb-0">이름 : {{ person.last_name }}
            {% if request.user == person %}
              <a href="{% url 'accounts:update' %}" class="profile--account--a">수정</a>
              <form action="{% url 'accounts:delete' %}" method="POST">
                {% csrf_token %}
                <input type="submit" class="profile--deleteBtn" value="탈퇴" onclick="return confirm('탈퇴 시, 더 이상 서비스를 이용하실 수 없습니다.\n정말 탈퇴하시겠습니까?')">
              </form> 
            {% endif %}
        </div>
          {% if request.user != person %}
            <div>
              <form id="follow-form" data-user-id="{{ person.pk }}">
                {% csrf_token %}
                {% if request.user in person.followers.all %}
                  <input class="profile--followbtn" type="submit" value="Unfollow">
                {% else %}
                  {% if request.user.is_authenticated %}
                    <input class="profile--followbtn" type="submit" value="follow">
                  {% else %}
                    <input class="profile--followbtn" type="submit" value="follow" disabled>
                  {% endif %}
                {% endif %}
              </form>
            </div>
          {% endif %}
        </p>
        <p>이메일 : {{ person.email }}</p>
        <p>생년월일 : {{ person.birthday }}</p>
        <p>선호지역 : {{ person.region }}</p>
        <!-- 팔로워 모달 버튼 -->
        <div>
          <button type="button" class="profile--followbtn" data-bs-toggle="modal" data-bs-target="#followersModal">
            <span id="followers-count">{{ person.followers.all|length }}</span> 팔로워
          </button>

          <!-- 팔로잉 모달 버튼 -->
          <button type="button" class="profile--followbtn" data-bs-toggle="modal" data-bs-target="#followingsModal">
            <span id = 'followings-count'>{{ person.followings.all|length }}</span> 팔로잉 
          </button>
        </div>
          <!-- 팔로워 Modal -->
          <div class="modal fade" id="followersModal" tabindex="-1" aria-labelledby="followersModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content profile--modal--box">
                <div class="modal-header">
                  <h1 class="modal-title fs-5"  id="followersModalLabel">팔로워</h1>
                </div>
                <div class="modal-body row" id = "f_follower_list">
                  {% if request.user == person %}
                    {% for follower in person.followers.all %}
                      <div class="modal--profile--card col-3">
                        <a class="text-decoration-none link-secondary fw-bold modal--profile--link" href="{% url 'accounts:profile' follower.username %}">
                          {% if follower.image %}
                            <div class="profile--image rounded-circle">
                              <img src="{{ follower.image.url }}" alt="" class="object-fit-fill profile">
                            </div>
                          {% else %}
                            <div class="profile--image rounded-circle">
                              <img src="{% static 'image/profile-none.png' %}" alt="profile_image_none" class="object-fit-fill profile">
                            </div>
                          {% endif %}
                          <span>{{ follower }}</span></a>
                      </div>
                    {% endfor %}
                  {% else %}
                      <div class="row" id="followers-list"></div>
                  {% endif %}
                </div>
                <div class="modal-footer">
                  <button type="button" class="profile--followbtn" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          <!-- 팔로잉 Modal -->
          <div class="modal fade" id="followingsModal" tabindex="-1" aria-labelledby="followingsModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content profile--modal--box">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="followingsModalLabel">팔로잉</h1>
                </div>
                <div class="modal-body row">
                  {% for following in person.followings.all %}
                  <div class="modal--profile--card col-3">
                    <a class="text-decoration-none link-secondary fw-bold modal--profile--link" href="{% url 'accounts:profile' following.username %}">
                      {% if following.image %}
                        <div class="profile--image rounded-circle">
                          <img src="{{ following.image.url }}" alt="" class="object-fit-fill profile">
                        </div>
                      {% else %}
                        <div class="profile--image rounded-circle">
                          <img src="{% static 'image/profile-none.png' %}" alt="profile_image_none" class="object-fit-fill profile">
                        </div>
                      {% endif %}
                      <span>{{ following }}</span></a>
                  </div>
                  {% endfor %}
                </div>
                <div class="modal-footer">
                  <button type="button" class="profile--followbtn" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          {{ person.username }} 님이 작성한 모든 게시글
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne">
        <div class="accordion-body">
          {% for post in person.post_set.all %}
            <div class="mb-1">
              <i class="bi bi-clipboard-check-fill"></i>
              <a class="profile--a" href="{% url 'posts:detail' post.pk %}">{{ post.title }}</a>
            </div>
            {% endfor %}
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          {{ person.username }} 님이 작성한 리뷰
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo">
        <div class="accordion-body">
          {% for review in person.review_set.all %}
            <div class="mb-1">
              <i class="bi bi-chat-dots-fill"></i>
              <a class="profile--a" href="{% url 'posts:detail' review.post.pk %}">{{ review.title }}</a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          {{ person.username }}님이 좋아요한 게시글
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" >
        <div class="accordion-body">
          {% for post in person.like_posts.all %}
            <i class="bi bi-clipboard-heart-fill"></i>
            <a class="profile--a" href="{% url 'posts:detail' post.pk %}">{{ post.title }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingfour">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsefour" aria-expanded="false" aria-controls="flush-collapsefour">
          {{ person.username }}님이 좋아요한 댓글
        </button>
      </h2>
      <div id="flush-collapsefour" class="accordion-collapse collapse" aria-labelledby="flush-headingfour" >
        <div class="accordion-body">
          {% for review in person.like_reviews.all %}
            <div >
              <i class="bi bi-chat-heart-fill"></i>
              <a class="profile--a" href="{% url 'posts:detail' review.post.pk %}">{{ review.title }}</a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  
  
  {% comment %} <div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
          {{ person.username }} 가 작성한 모든 리뷰
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
        <div class="accordion-body">
          {% for post in person.post_set.all %}
            <div>{{ post.title }}</div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
          {{ person.username }}가 좋아요 한 카페
        </button>
      </h2>
      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
        <div class="accordion-body">
          {% for post in person.like_posts.all %}
            <div>{{ post.title }}</div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>   {% endcomment %}

    
    

    
  </div>

{% endblock content %}
{% block script %}
<script src="{% static '/js/profile_modal.js' %}" type="text/javascript"></script>
{% endblock script %}