{% extends 'base.html' %}
{% load static %}
{% block title %}Main{% endblock title %}
{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
{% endblock head %}

{% block content %}

<a href="{% url 'posts:index' %}">전체 List 보기</a>
<a href="{% url 'posts:city' %}">선호지역 List 보기</a>
<div class="main--content">
  <div class="content--box">
    <div class="top--box"> Cafe TOP5</div>
    <button id="prevbtn" class="main--btn--left"></button>
      <div class="main--carousel--box">
        <div class="main--category">
          <div class="main--carousel" id="cafe-carousel">
            {% for post,image in post_images %}
              {% if post.category == 'cafe' %}
              <a href="{% url 'posts:detail' post.pk %}" class="main--card">
                <div class="card--item">
                    {% if image %}
                      <img src="{{ image.image.url }}" alt="" class="main--img">
                    {% else %}
                      <img src="{% static 'image/none_img.png' %}" alt=""  class="main--img">
                    {% endif %}
                  <div class="main--info--box">
                    <div class="main--title">
                      {{ post.title }}
                    </div>
                    <p> {{ post.address }}</p>
                    <div class="heart--box">
                      {% if request.user.is_authenticated %}
                        <form id="likes-form-{{ post.pk }}" data-post-id="{{ post.pk }}" class="main--heart">
                          {% csrf_token %}
                          {% if request.user in post.like_users.all %}
                              <button class="btn btn-link text-danger p-0" type="submit">
                                <i class="bi bi-suit-heart-fill main--heart"></i>
                              </button>
                          {% else %}
                              <button class="btn btn-link text-danger p-0" type="submit">
                                <i class="bi bi-suit-heart main--heart"></i>
                              </button>
                          {% endif %}
                        </form>
                      {% else %}
                        <button class="btn btn-link text-secondary p-0" disabled>
                          <i class="bi bi-suit-heart main--heart"></i>
                        </button>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </a>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    <button id="nextbtn" class="main--btn--right "></button>
  </div>
  <div class="content--box">
    <div class="top--box"> Bakery TOP5</div>
    <button id="prevbtnb" class="main--btn--left"></button>
      <div class="main--carousel--box">
        <div class="main--category">
          <div class="main--carousel" id="bakery-carousel">
            {% for post,image in post_images %}
              {% if post.category == 'bakery' %}
              <a href="{% url 'posts:detail' post.pk %}" class="main--card">
                <div class="card--item">
                    {% if image %}
                      <img src="{{ image.image.url }}" alt="" class="main--img">
                    {% else %}
                      <img src="{% static 'image/none_img.png' %}" alt=""  class="main--img">
                    {% endif %}
                  <div class="main--info--box">
                    <div class="main--title">
                      {{ post.title }}
                    </div>
                    <p> {{ post.address }}</p>
                    <div class="heart--box">
                      {% if request.user.is_authenticated %}
                        <form id="likes-form-{{ post.pk }}" data-post-id="{{ post.pk }}" class="main--heart">
                          {% csrf_token %}
                          {% if request.user in post.like_users.all %}
                              <button class="btn btn-link text-danger p-0" type="submit">
                                <i class="bi bi-suit-heart-fill main--heart"></i>
                              </button>
                          {% else %}
                              <button class="btn btn-link text-danger p-0" type="submit">
                                <i class="bi bi-suit-heart main--heart"></i>
                              </button>
                          {% endif %}
                        </form>
                      {% else %}
                        <button class="btn btn-link text-secondary p-0" disabled>
                          <i class="bi bi-suit-heart main--heart"></i>
                        </button>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </a>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    <button id="nextbtnb" class="main--btn--right "></button>
  </div>
</div>

{% endblock content %}

{% block script %}
<script>
  const forms = document.querySelectorAll('[id^="likes-form-"]');
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

  forms.forEach(function (form) {
    form.addEventListener('submit', function (event) {
      event.preventDefault();
      const postId = event.target.dataset.postId;
      axios({
        method: 'post',
        url: `/posts/${postId}/likes/`,
        headers: {'X-CSRFToken': csrftoken},
      })
        .then((response) => {
          const isLiked = response.data.is_liked;
          const heartIcon = form.querySelector('i');
          if (isLiked) {
            heartIcon.classList.remove('bi-suit-heart');
            heartIcon.classList.add('bi-suit-heart-fill');
          } else {
            heartIcon.classList.remove('bi-suit-heart-fill');
            heartIcon.classList.add('bi-suit-heart');
          }
        })
        .catch((error) => {
          console.error(error);
        });
    });
  });

  class cafeCarousel {
    constructor() {
      this.index = 0;
      this.$carousel = document.querySelector("#cafe-carousel");
      this.$prevButton = document.querySelector("#prevbtn");
      this.$nextButton = document.querySelector("#nextbtn");
  
      this.$prevButton.addEventListener("click", () => {
        this.prev();
      });
  
      this.$nextButton.addEventListener("click", () => {
        this.next();
      });
  
      if (this.index === 0) {
        this.$prevButton.hidden = true;
      }

      if (this.$carousel.childElementCount <= 1) {
        this.$nextButton.hidden = true;
      }

      if (this.index === 0 && this.$carousel.childElementCount > 1) {
        this.$nextButton.hidden = false;
      }
    }

    prev() {
      if (this.index <= 0) return;
      this.index -= 1;
  
      this.$carousel.style.transform = `translate3d(-${
        552 * this.index
      }px, 0, 0)`;
  
      if (this.index <= 0) {
        this.$prevButton.hidden = true;
      } else {
        this.$prevButton.hidden = false;
      }
      if (this.index >= this.$carousel.childElementCount) {
        this.$nextButton.hidden = true;
      } else {
        this.$nextButton.hidden = false;
      }
    }
  
    next() {
      if (this.index === 5) return;
      this.index += 1;
  
      this.$carousel.style.transform = `translate3d(-${
        552 * this.index
      }px, 0, 0)`;
      if (this.index <= 0) {
        this.$prevButton.hidden = true;
      } else {
        this.$prevButton.hidden = false;
      }
      if (this.index >= this.$carousel.childElementCount-1) {
        this.$nextButton.hidden = true;
      } else {
        this.$nextButton.hidden = false;
      }
    }
  }
  
  const cafecarousel = new cafeCarousel();


  class bakeryCarousel {
    constructor() {
      this.index = 0;
      this.$bakerycarousel = document.querySelector("#bakery-carousel");
      this.$prevButtonb = document.querySelector("#prevbtnb");
      this.$nextButtonb = document.querySelector("#nextbtnb");
  
      this.$prevButtonb.addEventListener("click", () => {
        this.prevb();
      });
  
      this.$nextButtonb.addEventListener("click", () => {
        this.nextb();
      });
  
    
      if (this.index === 0) {
        this.$prevButtonb.hidden = true;
      }
      
      if (this.$bakerycarousel.childElementCount <= 1) {
        this.$nextButtonb.hidden = true;
      }
  
      if (this.index === 0 && this.$bakerycarousel.childElementCount > 1) {
        this.$nextButtonb.hidden = false;
      }
    }
  
    prevb() {
      if (this.index <= 0) return;
      this.index -= 1;
  
      this.$bakerycarousel.style.transform = `translate3d(-${
        552 * this.index
      }px, 0, 0)`;
  
      if (this.index <= 0) {
        this.$prevButtonb.hidden = true;
      } else {
        this.$prevButtonb.hidden = false;
      }
      if (this.index >= this.$bakerycarousel.childElementCount) {
        this.$nextButtonb.hidden = true;
      } else {
        this.$nextButtonb.hidden = false;
      }
    }
  
    nextb() {
      if (this.index >= this.$bakerycarousel.childElementCount) return;
      this.index += 1;
  
      this.$bakerycarousel.style.transform = `translate3d(-${
        552 * this.index
      }px, 0, 0)`;
      if (this.index <= 0) {
        this.$prevButtonb.hidden = true;
      } else {
        this.$prevButtonb.hidden = false;
      }
      if (this.index >= this.$bakerycarousel.childElementCount-1) {
        this.$nextButtonb.hidden = true;
      } else {
        this.$nextButtonb.hidden = false;
      }
    }
  }
  
  const bakerycarousel = new bakeryCarousel();
</script>

{% endblock script %}