{% extends 'base.html' %}
{% load static %}
{% block title %}
Review
{% endblock title %}
{% block style %}
<style>
  .star-rating input[name="rating"] {
    display: none;
  }

  .emoji-rating label.selected {
    transform: scale(1.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  
  .emoji-rating input[name="emotion"] {
    display: none;
  }
</style>
{% endblock style %}
{% block content %}

  <div class="posts--box">
    <div class="posts--create">
      <h1>솔직한 리뷰를 남겨주세요!</h1>
      <form id="review-form"  method="post" action="{% url 'posts:review_create' post.pk %}" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="rating">Rating:</label>
        <div class="star-rating">
          <input id="star-1" name="rating" type="radio" value="1" />
          <label class="star-label" for="star-1" title="1 star">☆</label>
          <input id="star-2" name="rating" type="radio" value="2" />
          <label class="star-label" for="star-2" title="2 stars">☆</label>
          <input id="star-3" name="rating" type="radio" value="3" />
          <label class="star-label" for="star-3" title="3 stars">☆</label>
          <input id="star-4" name="rating" type="radio" value="4" />
          <label class="star-label" for="star-4" title="4 stars">☆</label>
          <input id="star-5" name="rating" type="radio" value="5" />
          <label class="star-label" for="star-5" title="5 stars">☆</label>
        </div>
        {{ review_form.as_p }}
        <label for="emotion">Emotion:</label>
        <div class="emoji-rating">
          <input id="emoji-1" name="emotion" type="radio" value="1" />
          <label class="emoji-label" for="emoji-1" title="sad">😞</label>
          <input id="emoji-2" name="emotion" type="radio" value="2" />
          <label class="emoji-label" for="emoji-2" title="neutral">😐</label>
          <input id="emoji-3" name="emotion" type="radio" value="3" />
          <label class="emoji-label" for="emoji-3" title="happy">😁</label>
        </div>
        {{ image_form.as_p }}
        <input class="posts--reviewBtn" type="submit">
        <br><br>
      </form>

    </div>
  </div>
{% endblock content %}
{% block script %}
<script>
  const stars = document.querySelectorAll('.star-rating label');
  const ratingInput = document.querySelector('input[name="rating"]');

  ratingInput.value = 5;
  stars.forEach(star => star.textContent = '★');
  
  stars.forEach((star, index) => {
    star.addEventListener('click', () => {
      ratingInput.value = index + 1;
      for (let i = 0; i < stars.length; i++) {
        if (i <= index) {
          stars[i].textContent = '★';
        } else {
          stars[i].textContent = '☆';
        }
      }
    });
  });

  const emojis = document.querySelectorAll('.emoji-rating label');
  const emotionInput = document.querySelector('input[name="emotion"]');

  emojis.forEach(emoji => emoji.addEventListener('click', () => {
    emotionInput.value = emoji.getAttribute('for').split('-')[1];
    emojis.forEach(e => e.classList.remove('selected'));
    emoji.classList.add('selected');
  }));

</script>
{% endblock script %}