{% extends 'base.html' %}
{% load static %}
{% block style %}
<style>
  .star-rating input[name="rating"] {
    display: none;
  }  
</style>
{% endblock style %}
{% block content %}
  <form id="review-form"  method="post" action="{% url 'posts:review_create' post.pk %}" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="rating">Rating:</label>
    <div class="star-rating">
      <input id="star-1" name="rating" value="1" />
      <label class="star-label" for="star-1" title="1 star">☆</label>
      <input id="star-2" name="rating" value="2" />
      <label class="star-label" for="star-2" title="2 stars">☆</label>
      <input id="star-3" name="rating" value="3" />
      <label class="star-label" for="star-3" title="3 stars">☆</label>
      <input id="star-4" name="rating" value="4" />
      <label class="star-label" for="star-4" title="4 stars">☆</label>
      <input id="star-5" name="rating" value="5" />
      <label class="star-label" for="star-5" title="5 stars">☆</label>
    </div>
    {{ review_form.as_p }}
    {% for emotion in emotions %}
      <button type="button" onclick="submitForm('{{ emotion.value }}')">{{ emotion.label }}</button>
    {% endfor %}
    {{ image_form.as_p }}
    <input type="submit">
    <br><br>
  </form>
  
{% endblock content %}
{% block script %}
<script>
  const stars = document.querySelectorAll('.star-rating label');
  const ratingInput = document.querySelector('input[name="rating"]');
  
  stars.forEach((star, index) => {
    star.addEventListener('click', () => {
      ratingInput.value = index + 1;
      for (let i = 0; i < stars.length; i++) {
        if (i <= index) {
          stars[i].textContent = '★';
        } else {
          stars[i].textContent = '☆';
        }
      }
    });
  });
  
  function submitForm(emotionValue) {
    const form = document.getElementById('review-form');
    const emotionInput = document.createElement('input');
    emotionInput.setAttribute('type', 'hidden');
    emotionInput.setAttribute('name', 'emotion');
    emotionInput.setAttribute('value', emotionValue);
    form.appendChild(emotionInput);
  }
  
</script>
{% endblock script %}