{% extends 'base.html' %}

{% block page_title %}
  Search 
{% endblock page_title %}

{% block content %}
  {% if posts %}
  {% for post, image in post_images %}
      <div class="post">
          <h2>{{ post.title }}</h2>
          {% if image %}
              <img src="{{ image.image.url }}" alt="{{ post.title }}">
          {% endif %}
          <p>{{ post.menu }}</p>
          <p>{{ post.address }}</p>
          <p>{{ post.city }}</p>
          <a href="{% url 'posts:detail' post.pk %}">View Details</a>
      </div>
  {% endfor %}
  {% else %}
  <p>No results found.</p>
  {% endif %}

{% endblock content %}




