{% extends 'base.html' %}

{% block page_title %}
  Search 
{% endblock page_title %}

{% block content %}
  {% if posts %}
  {% for post, image in post_images %}
      <div class="post">
          <h3><a href="{% url 'posts:detail' post.pk %}" class="text-decoration-none">{{ post.title }}</a></h3>
          {% if image %}
              <img src="{{ image.image.url }}" alt="{{ post.title }}">
          {% endif %}
          <p>{{ post.menu }}</p>
          <p>{{ post.city }} {{ post.address }}</p>
          <hr>
      </div>
  {% endfor %}
  {% else %}
  <p>검색 결과가 없습니다.</p>
  {% endif %}

{% endblock content %}




