{% extends 'base.html' %}

{% block title %}
  Update
{% endblock title %}


{% block content %}
  <div class="posts--box">
    <div class="posts--create">
      <h1>게시글을 수정해주세요.</h1>
        <form action="{% url 'posts:update' post.pk %}" method='POST' enctype='multipart/form-data'>
          {% csrf_token %}
          {{ post_form.as_p}}
          {{ image_form.as_p }}
          {{ delete_form.as_p }}
          <input class="posts--btn" type="submit">
        </form>
    </div>
  </div>
{% endblock content %}

{% block script %}
<script>



</script>
{% endblock script %}

